<div class="container-fluid px-5">
  <div class="row mt-3">
    <div class="col-12 mt-4">
      <h1 class="font-weight-bold">¿Qué aprederás hoy?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-3">
      <p class="font-weight-bold">Tus cursos</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <div class="rectangle-card w-100 card-width mb-3" *ngFor="let dat of data">
        <div class="d-flex alig-items-around">
          <img src="./assets/img/{{ dat.subjectImage }}" height="70" width="70" alt="abacus">
          <div class="mx-5 w-25">
            <p>{{ dat.subject }}</p>
            <div class="progress">
              <div class="progress-bar w-{{ dat.progress }}" role="progressbar" aria-valuenow="{ dat.progress }" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mt-1 mb-0">Tu progreso</p>
          </div>
          <div class="d-flex flex-row">
            <div class="d-flex flex-column">
              <img src="./assets/img/feature-lingot-gold.svg" class="img-empty-cirle" alt="empty">
              <p class="fs-12 mt-1">{{ dat.empty }} Intento</p>
            </div>
            <div class="d-flex flex-column ml-4">
              <img src="./assets/img/feature-lingot-gold.svg" class="img-bronze-circle" alt="bronze">
              <p class="fs-12 mt-1">{{ dat.bronze }} Bronce</p>
            </div>
            <div class="d-flex flex-column ml-4">
              <img src="./assets/img/feature-lingot-gold.svg" class="img-silver-circle" alt="silver">
              <p class="fs-12 mt-1">{{ dat.silver }} Plata</p>
            </div>
            <div class="d-flex flex-column ml-4">
              <img src="./assets/img/feature-lingot-gold.svg" class="img-golden-circle" alt="gold">
              <p class="fs-12 mt-1">{{ dat.golden }} Oro</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>