body {
  background-color: #e8e8e8;
  font-family: 'Nunito', sans-serif;
}

.rectangle-card {
  background-color: #fff;
  padding: 32px;
}

.img-empty-cirle {
  border: 2px dashed #FFFF00;
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.img-bronze-circle {
  border: 1px solid #cd7f32;
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.img-silver-circle {
  border: 1px solid #C0C0C0;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.img-golden-circle {
  border: 1px solid #FFD700;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.img-diamond-circle {
  border: 1px solid #adf3f7 ;
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.fs-12 {
  font-size: 0.75rem;
}

.card-width {
  width: 100% !important;
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
 
}

@media (min-width: 992px) {
  .card-width {
    width: 60% !important;
  }
}

@media (min-width: 1200px) {
  
}